<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <title>Title</title>
</head>
<body>
    <ol>
        {% comment %} <li><a href="index/">Home</a></li>
        <li><a href="app_1/">App 1</a></li>
        <li><a href="app_2/">App 2</a></li> {% endcomment %}
        <li><a href={% url "index" %}>Home</a></li>
        <li><a href={% url "app_1" %}>App 1</a></li>
        <li><a href={% url "app_2" %}>App 2</a></li>
    </ol>
    
</body>
</html>